{% extends 'base.html' %}
{% block  title %} About Limfo {% endblock %}
{% block body %}
<div class="container my-5  ">
    <h1>About limfo</h1>
    <b>limfo</b> is a small startup website consist of multidimensional features, created to make things easier for
    user.
    Features like Text transformation, Image Transformation, PDF transformation and many more used by users in various fields are made
    easy on limfo.
    Currently limfo has around <b>6</b> major features and total <b>17</b> features. So what are you waiting for? just
    start exploring it.<br>
    If you find anything helpful on this site, make sure to drop us a <a href="/feedback" class="text-danger"
                                                                      style="text-decoration :none;">feedback.</a><br>
    If you have any idea for betterment of this site, be the first one to <a href="" class="text-danger"
                                                                             style="text-decoration :none;">contribute.</a>
    Every contribution
    matters!
    <br>
    <br>
    <a href="mailto:limfo.contact@gmail.com" class="text-danger" style="text-decoration :none;"> Contact Developer </a>
</div>
<br>
<br>

{% endblock %}