{% extends 'base.html' %}
{% block  title %} Limfo Captcha Generator {% endblock %}
{% block body %}
<div class="container my-5  ">
    <h1>About limfo</h1>
    limfo is a small startup website created to make things easier for users, things which plays a small but significant
    role in our day to day
    lives. Limfo provides some amazing features like Finding phone info, Generating QR code, Bar code, Translations and
    all these without any restrictions.
    That's just a starting, more features are coming soon.<br>
    If you find anything helpful on this site, make sure to drop a <a href="/feedback">feedback.</a><br>
    If you have any idea for betterment of this site, be the first one to <a href="">contribute.</a> Every contribution
    matters.<br>
    <br>
    <a href="mailto:limfo.contact@gmail.com"> Contact Developer </a>
</div>
<br>
<br>

{% endblock %}