{% extends 'base.html' %}
{% block  title %} Limfo Captcha Generator {% endblock %}
{% block body %}
<div class="container my-5  ">
    <h1>About limfo</h1>
    <b>limfo</b> is a small startup website consist of multidimensional features, created to make things easier for
    user.
    Currently limfo provides around <b>6</b> major features and total <b>17</b> features, once you start exploring it
    you will
    definitely visit it again.<br>
    That's just a starting, more features are coming soon...<br>
    If you find anything helpful on this site, make sure to drop a <a href="/feedback" class="text-danger"
                                                                      style="text-decoration :none;">feedback.</a><br>
    If you have any idea for betterment of this site, be the first one to <a href="" class="text-danger"
                                                                             style="text-decoration :none;">contribute.</a>
    Every contribution
    matters!
    <br>
    <a href="mailto:limfo.contact@gmail.com"> Contact Developer </a>
</div>
<br>
<br>

{% endblock %}