{% extends 'base.html' %}
{% block  title %} Limfo Captcha Generator {% endblock %}
{% block body %}
<div class="container my-5">
    <form>
        <div class="form-group">
            <label for="text"><strong>Enter Text Here:</strong></label>
            <textarea class="form-control" id="text" name="text" rows="5"></textarea>
        </div>
        <button class="btn btn-dark" type="submit">Submit</button>
    </form>
    <br>
    <p><b>Your Captcha is ready:</b></p>
    <img src="/media/cap{{x}}.png" style="border:1px solid Black;">
    <a role="button" class="btn btn-outline-dark mx-3" href="/media/cap{{x}}.png" download="limfoCaptcha">Download</a>
    <!--    <a role="button" class="btn btn-outline-dark mx-3" href="/media/audio{{x}}.png" download="limfoCaptcha">Download-->
    <!--        Audio</a>-->

</div>
<center><a role="button" class="btn btn-dark my-5" href="/">Back to Home</a></center>

{% endblock %}