{% extends 'base.html' %}
{% block  title %} Limfo Covid Tracker {% endblock %}
{% block body %}

<div class="container my-5">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="country"><strong>Enter Country Name</strong></label>
            <input type="text" class="form-control" id="country" name="country" aria-describedby="emailHelp"
                   placeholder="Country here">
        </div>
        <button class="btn btn-dark my-3" type="submit">Enter</button>
    </form>
    <ul class="list-group">


        <li class="list-group-item list-group-item-success"><b>Recovered:</b> {{recover}}
        </li>
        <li class="list-group-item list-group-item-danger"><b>Deaths:</b> {{deaths}}
        </li>
        <li class="list-group-item list-group-item-warning"><b>Active Cases:</b> {{active}}
        </li>
        <li class="list-group-item list-group-item-dark"><b>Confirmed:</b>{{confirmed}}
        </li>
    </ul>
    <br>
    <center><p><b><i>" What the world need now is solidarity. With solidarity we can defeat the virus and build a better
        world."</i></b></p>
        <p><b><i>#FightCovid</i></b></p>
    </center>
</div>
<center><a role="button" class="btn btn-dark my-5" href="/">Back to Home</a></center>

{% endblock %}