{% extends 'base.html' %}
{% block  title %} Limfo Jokes{% endblock %}
{% block body %}
<div class="container my-5">
    <div class="list-group">
        <a class="list-group-item list-group-item-action active">
            <div class="d-flex w-100 justify-content-between">
            </div>
            <p class="mb-1">{{joke}}</p>
            <!--            <small>Donec id elit non mi porta.</small>-->
        </a>
        <a class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">

            </div>
            <p class="mb-1"> {{joke1}}
            </p>
            <!--            <small class="text-muted">Donec id elit non mi porta.</small>-->
        </a>
        <a class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">

            </div>
            <p class="mb-1"> {{joke2}}
            </p>
            <!--            <small class="text-muted">Donec id elit non mi porta.</small>-->
        </a>
    </div>
    <br>
    <p><b>Want your joke to get featured? <a href="mailto:limfo.contact@gmail.com">Email us now!</a></b></p>
</div>
<center><a role="button" class="btn btn-dark my-5" href="/">Back to Home</a></center>

{% endblock %}