{% extends 'base.html' %}
{% block  title %} Limfo Translator {% endblock %}
{% block body %}
{% if new_text|length > 1 %}
<div class="container my-5">
    <div class="list-group">
        <strong>Text Entered:</strong>
        <a class="list-group-item list-group-item-action list-group-item-primary my-3">{{txt}}
        </a>
        <strong>Translated Text:</strong>
        <a class="list-group-item list-group-item-action list-group-item-secondary my-3">{{new_text }}</a>
    </div>
    <center><a role="button" class="btn btn-dark my-5" href="/translate">I am loving it</a></center>

</div>


{% else %}
<div class="container my-5">
    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="trans"><strong>Enter Text</strong></label>
            <textarea class="form-control" id="trans" name="trans" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="lang"><strong>Select Language</strong></label>
            <select class="form-control" id="lang" name="lang">
                <option>Hindi</option>
                <option>Spanish</option>
                <option>French</option>
                <option>German</option>
            </select>
        </div>
        <button class="btn btn-dark" type="submit">Translate</button>

    </form>

</div>
<center><a role="button" class="btn btn-dark my-5" href="/">Back to Home</a></center>

{% endif %}
{% endblock %}